.inicio{
    text-align: center;
    background-color: rgb(22, 14, 14);
}

.navbar-brand{
    height: 50px;
    width: 50px;
}

.inicio  h2,p{
    text-align: justify;
}
.productos{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.productos {
    border: none;
}

.servicios{
    text-align: left;
}

form{
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    position: relative; 
}

